<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registracija</servlet-name>
        <servlet-class>servleti.Registracija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servleti.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Otvaranje3Forme</servlet-name>
        <servlet-class>servleti.Otvaranje3Forme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertPozoristeServlet</servlet-name>
        <servlet-class>servleti.insertPozoristeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFormaPozorista</servlet-name>
        <servlet-class>servleti.EditFormaPozorista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFormaPozorista</servlet-name>
        <servlet-class>servleti.DeleteFormaPozorista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePozoriste</servlet-name>
        <servlet-class>servleti.updatePozoriste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>povratakServlet</servlet-name>
        <servlet-class>servleti.povratakServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertPredstavaServlet</servlet-name>
        <servlet-class>servleti.insertPredstavaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFormaPredstava</servlet-name>
        <servlet-class>servleti.EditFormaPredstava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePredstava</servlet-name>
        <servlet-class>servleti.updatePredstava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFormaPredstava</servlet-name>
        <servlet-class>servleti.DeleteFormaPredstava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertterminServlet</servlet-name>
        <servlet-class>servleti.insertterminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFormaTermin</servlet-name>
        <servlet-class>servleti.DeleteFormaTermin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFormaTermin</servlet-name>
        <servlet-class>servleti.EditFormaTermin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTermin</servlet-name>
        <servlet-class>servleti.updateTermin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlRezervacije</servlet-name>
        <servlet-class>servleti.ControlRezervacije</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pretragaPoNazivima</servlet-name>
        <servlet-class>servleti.pretragaPoNazivima</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NadjiPredstaveServlet</servlet-name>
        <servlet-class>servleti.NadjiPredstaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rezervisiPoDatumu</servlet-name>
        <servlet-class>servleti.rezervisiPoDatumu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registracija</servlet-name>
        <url-pattern>/Registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Otvaranje3Forme</servlet-name>
        <url-pattern>/Otvaranje3Forme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertPozoristeServlet</servlet-name>
        <url-pattern>/insertPozoristeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFormaPozorista</servlet-name>
        <url-pattern>/EditFormaPozorista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFormaPozorista</servlet-name>
        <url-pattern>/DeleteFormaPozorista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePozoriste</servlet-name>
        <url-pattern>/updatePozoriste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>povratakServlet</servlet-name>
        <url-pattern>/povratakServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertPredstavaServlet</servlet-name>
        <url-pattern>/insertPredstavaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFormaPredstava</servlet-name>
        <url-pattern>/EditFormaPredstava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePredstava</servlet-name>
        <url-pattern>/updatePredstava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFormaPredstava</servlet-name>
        <url-pattern>/DeleteFormaPredstava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertterminServlet</servlet-name>
        <url-pattern>/insertterminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFormaTermin</servlet-name>
        <url-pattern>/DeleteFormaTermin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFormaTermin</servlet-name>
        <url-pattern>/EditFormaTermin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTermin</servlet-name>
        <url-pattern>/updateTermin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlRezervacije</servlet-name>
        <url-pattern>/ControlRezervacije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pretragaPoNazivima</servlet-name>
        <url-pattern>/pretragaPoNazivima</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NadjiPredstaveServlet</servlet-name>
        <url-pattern>/NadjiPredstaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rezervisiPoDatumu</servlet-name>
        <url-pattern>/rezervisiPoDatumu</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <description>heder i footer</description>
            <url-pattern>/view2/*</url-pattern>
            <url-pattern>/index.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
